body, html {
    height: 100%; /* Ensure the body takes the full height */
    margin: 0; /* Remove default margin */
  }
  
  .main-content {
    min-height: 150vh; /* Make the main content take at least the full viewport height */
    padding-bottom: 50px; /* Ensure space for footer */
    box-sizing: border-box;
  }
  