.logo {
    width: 70px;
    height: 70px;
    background-color: #007bff; /* Primary color */
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header {
    height: 70px;
    background-color: #CBD081; /* Custom header color */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  