/* Global Styles */
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



.App-logo {
  height: 30vmin;
  /* Reduced logo size */
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1.5vmin);
  /* Smaller font size */
  color: white;
}

.content-wrap {
  flex: 1;
}
.content-container {
  flex-grow: 1;
  padding-bottom: 140px; /* Ensure space for footer */
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Sidebar navigation styling */
.nav-link {
  padding: 0.8rem 1.2rem;
  /* Reduced padding */
  border-radius: 6px;
  /* Smaller rounded edges */
  transition: all 0.3s ease;
}

/* Hover effect for nav-link */
.nav-link:hover {
  background-color: #404040;
  color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
  border-radius: 8px;
  /* Slightly more rounded on hover */
}

/* Sidebar Styling */
.sidebar {
  background-color: #343a40;
  color: white;
  padding: 15px;
  /* Reduced padding */
  border-radius: 15px;
  /* Smaller curved edges */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  height: 100%;
  overflow-y: auto;
  margin-top: 10px;
}

.sidebar ul {
  padding: 0;
  margin: 0;
}

.sidebar .nav-item {
  margin-bottom: 12px;
  /* Reduced space between items */
}

.nav-link {
  padding: 0.8rem 1rem;
  /* More compact links */
  border-radius: 6px;
  display: block;
  color: #fff;
  font-size: 0.9rem;
  /* Smaller font size */
}

/* Hover effect for sidebar links */
.nav-link:hover {
  background-color: #505050;
  color: #ffffff;
  border-radius: 8px;
}

/* Navbar */
.navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Main container styles */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.col {
  flex: 1; /* Let the column grow dynamically */
  display: flex;
  flex-direction: column;
}


